[Unit]
Description=Piku uWSGI Emperor (%i)
After=syslog.target

[Service]
ExecStart=/usr/local/bin/uwsgi-piku --ini /home/%i/.piku/uwsgi/uwsgi.ini
User=%i
Group=www-data
RuntimeDirectory=uwsgi-%i
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
